body {
    background-color: rgb(46, 12, 7);
    display: flex;
    justify-content: center;
}

#main-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 630px;
}

#title-div {
    flex: 1;
    font-size: 30pt;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#game {
    background-color: white;
    flex: 5;
    display: flex;
    width: 450px;
    flex-direction: column;
}

.game-row{
    flex: auto;
    flex-direction: row;
    display: flex;
}

.game-cell{
    flex: 1;
    border: rgb(46, 12, 7) solid .5px;
    background-color: rgb(255, 255, 255);
}

.game-cell:hover{
    background-color: black;
}

#toolbar {
    flex: 1;
    display: flex;
    align-items: center;
}